.spacer {
  flex: 1 1 auto;
}

a {
  color: white !important;
  text-decoration: none;
  margin: 0 8px !important;
}

a.active-link {
  text-decoration: underline;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
  .logo {
    font-size: 1.25rem;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .nav-links {
    display: flex;
    gap: 12px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .mobile-menu-button {
    display: none;
    color: white;
    @media (max-width: 768px) {
      display: inline-flex;
    }
  }
}

.sidenav-container {
  height: calc(100vh - 64px);
}

.sidenav {
  background-color: var(--color-primary);
  width: 200px;
}

.sidenav a {
  display: block;
  padding: 12px 16px;
}