
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root {
  --color-primary: #2E7D32;
  --color-on-primary: #ffffff;
  --color-accent: #FFB300;
  --color-on-accent: #000000;
  --color-background: #eaffec;
  --color-surface: #ffffff;
  --color-text-primary: #212121;
  --color-state-free: #43A047;
  --color-state-occupied: #C62828;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--color-background); }

.mat-drawer-content {
  background-color: var(--color-background);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled):hover {
  background-color: #ededed !important;
}

.mat-toolbar {
  background-color: var(--color-primary) !important;
  color: var(--color-on-primary) !important;
}

.btn-primary {
  background-color: var(--color-accent);
  color: var(--color-on-accent);
}

.mat-mdc-raised-button:not(:disabled):hover {
  background-color: #ededed !important;
}

.mat-mdc-raised-button:not(:disabled):active {
  background-color: #f5f3f3 !important;
}

.mat-mdc-raised-button:not(:disabled) {
    color: #000000 !important;
    background-color: #ffffff !important;
}

.status-free {
  color: var(--color-state-free);
}

.status-occupied {
  color: var(--color-state-occupied);
}
